.container {
    display: grid;
    width: 500px;
    height: 500px;
    border: solid;
    grid-template-columns: repeat( 25, auto );
    grid-template-rows: repeat( 25, auto );
}

#banner {
    margin: 20px 5px 5px 5px;
}

body {
    display: grid;
    grid-template-areas: 
        " a "
        " b "
        " c "
        " d ";
    place-content: center center;
    background-color: bisque;
    text-align:center;
    word-wrap: break-word;
}


#btnRow {
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.btn {
    margin: 7px;
}