/* .container {
    display: grid;
    width: 1000px;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
} */

#banner {
    margin: 20px 5px 5px 5px;
}

body {
    display: grid;
    grid-template-areas: 
        " a "
        " b "
        " c "
        " d ";
    place-content: center center;
    background-color: bisque;
    text-align:center;
    word-wrap: break-word;
}


#btnRow {
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.btn {
    margin: 7px;
}